
/* Fonts */
@font-face {
    font-family: 'BHoma';
    src: url('/static/fonts/BHoma.ttf') format('truetype');
}

@font-face {
    font-family: 'BYekan';
    src: url('/static/fonts/BYekan.ttf') format('truetype');
}

body {
    font-family: 'BYekan', Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #b0c4de, #4682b4);
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(10px);
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl;
    text-align: right;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4169e1;
}

.password-requirements {
    text-align: right;
    margin-bottom: 5px;
    width: calc(100% - 40px);
    font-size: 0.7em;
}

.requirement {
    color: red;
    margin: 2px 0;
}

requirement.valid {
    color: green;
}

hr {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

p {
    margin: 10px 0;
    color: #333;
    font-size: 0.9em;
}

a {
    color: #4682b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.remember-me-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 40px);
    margin: 10px 0;
}

label.remember-me {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 0.9em;
    white-space: nowrap;
    margin-left: auto;
}




.menu-icon, .settings-icon {
    width: 30px;
    height: 30px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details p {
    margin: 0;
    color: white;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.menu-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.menu-buttons button {
    margin: 10px;
    padding: 15px 30px;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.menu-buttons button img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.menu-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #40e0d0;
}

.car-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.plak-template {
    position: relative;
    width: 400px; /* عرض کلی باکس */
    height: 120px; /* ارتفاع کلی باکس */
    background: url('/static/images/plak.png') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plak-template input {
    position: relative;
    background: transparent;
    border: none;
    font-size: 3rem; /* اندازه بزرگ‌تر برای اعداد */
    text-align: center;
    color: black;
    outline: none;
    width: 80px; /* عرض مناسب برای فیلدها */
}

#car-number-two {
    position: absolute;
    left: 25%; /* فاصله مناسب از سمت چپ */
    top: 50%; /* قرارگیری در مرکز عمودی */
    transform: translate(-50%, -50%);
}

#car-number-three {
    position: absolute;
    right: 25%; /* فاصله مناسب از سمت راست */
    top: 50%; /* قرارگیری در مرکز عمودی */
    transform: translate(50%, -50%);
}

.t-letter {
    position: absolute;
    font-size: 3.5rem; /* اندازه بزرگ‌تر برای حرف "ت" */
    font-weight: bold;
    top: 50%; /* قرارگیری در مرکز عمودی */
    left: 50%; /* قرارگیری در مرکز افقی */
    transform: translate(-50%, -50%);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;  // عرض modal بر اساس نیاز
    height: 300px;  // ارتفاع modal بر اساس نیاز
    background-color: white;
    z-index: 1050;
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.glass-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
