
/* Fonts */
@font-face {
    font-family: 'BHoma';
    src: url('/static/fonts/BHoma.ttf') format('truetype');
}

@font-face {
    font-family: 'BYekan';
    src: url('/static/fonts/BYekan.ttf') format('truetype');
}


/* تنظیمات کلی */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #b0c4de, #4682b4);
    font-family: 'BYekan', Tahoma, Arial, sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 10px; /* کاهش فاصله بین لوگو و تیتر */
}

h1 {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    direction: rtl;
    text-align: right;
    font-family: 'BHoma', Tahoma, Arial, sans-serif; /* فونت BHoma */
}

button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4682b4;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'BHoma', Tahoma, Arial, sans-serif; /* فونت BHoma */
}

button:hover {
    background-color: #4169e1;
}

.remember-me-container {
    display: flex;
    justify-content: flex-end; /* راست چین کردن */
    align-items: center;
    width: 100%; /* تطابق با فرم */
    margin: 10px 0;
}

.remember-me-container input {
    margin-left: 5px;
}

.remember-me-container label {
    font-size: 0.9em;
    color: #333;
    font-family: 'BHoma', Tahoma, Arial, sans-serif; /* فونت BHoma */
}

a {
    color: #4682b4;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}
